<!--  Don't edit anything here. Set your disqus id in _config.yml -->

<!-- Author Box -->
{% if page.author %}				
<div class="row mt-5 p-5 bg-lightblue">
  <div class="col-md-3 align-self-center">
    {% if author.avatar %}
    <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}"/>
    {% endif %} 
  </div>
  <div class="col-md-9 align-self-center">		
    <h5 class="font-weight-bold">Written by {{ author.name }} {% if author.twitter %}<span><a target="_blank" target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Follow</a></span>{% endif %}</h5>
    {{ author.bio }}					
  </div>
</div>				
{% endif %}