<!--  Don't edit anything here. Set your disqus id in _config.yml -->

<hr style="border: 0;">
<div id="donate" class="row mt-5 p-5 bg-lightblue justify-content-center">
  <div class="col-md-3" style="max-width: 13rem; margin-bottom: 0.55rem;">
    <h6 class="font-weight-bold" style="text-align: center;">微信打赏</h6>
    <img class="rounded-circle" src='{{site.baseurl}}/assets/images/donate/wechatdonate.jpg' title='微信打赏' style="width: 100%;"/>
  </div>
  <div class="col-md-3" style="max-width: 13rem; margin-bottom: 0.55rem;">
    <h6 class="font-weight-bold" style="text-align: center;">支付宝打赏</h6>
    <img src='{{site.baseurl}}/assets/images/donate/zhifubao.png' title='支付宝转账' style="width: 100%;"/>
  </div>
  <div class="col-md-3" style="max-width: 13rem; margin-bottom: 0.55rem;">
    <h6 class="font-weight-bold" style="text-align: center;">PayPal 打赏</h6>
    <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
      <input type='hidden' name='cmd' value='_s-xclick' />
      <input type='hidden' name='hosted_button_id' value='43H7K8PWR4VV4' />
      <input type='image' className='paypal' src='{{site.baseurl}}/assets/images/donate/paypal.png' border='0' name='submit'
        title='Paypal' style="width: 100%;"/>
    </form>
  </div>
</div>