<div class="sticky-top sticky-top-offset">
    <h2 class="font-weight-bold spanborder"><span>Releated</span></h2>  
    <ol class="list-featured">				   
        {% assign tmp_post = "" | split: ',' %}
        {% assign tmp_post = tmp_post | push: page.url %}
        <!-- by tag -->
        {% for tag in site.tags %} 

        {% if page.tags contains tag[0] and tag[0] != "featured" and tag[0] != "sticky"%}
        {% assign pages_list = tag[1] %}
        {% for post in pages_list %}
        {% if tmp_post contains post.url %}
        {% else %}
        {% assign tmp_post = tmp_post | push: post.url %}
        <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a target="_blank" href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li>     
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% endif %}

        {% endfor %}

        <!-- by category -->
        {% for category in site.categories %} 

        {% if page.categories contains category[0] %}
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if tmp_post contains post.url %}
        {% else %}
        {% assign tmp_post = tmp_post | push: post.url %}
          <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a target="_blank" href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li>     
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% endif %}

        {% endfor %}
    </ol>
</div> 